LOG_LEVEL=debug
CORN_SYRUP_BACKEND_HOST=127.0.0.1
CORN_SYRUP_BACKEND_PORT=30010
CORN_SYRUP_BACKEND_CORS_ORIGIN=*
DATABASE_TYPE=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=corn_syrup
DATABASE_USER=corn_syrup
DATABASE_PASSWORD=change-me
